<footer class="footer">
  <div class="container footer-container">
    <div class="footer-half">
      <div class="footer-logo">
        <svg width="127" height="20" class="footer-icon">
          <use href="./image/icons.svg#icon-logo"></use>
        </svg>
        <div class="footer-contacts">
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <a href="tel:+380665438912" class="footer-adress-phone"
                >UK: +38 066 543 8912</a
              >
            </li>
            <li class="footer-contacts-item">
              <a href="" target="_blank" class="footer-adress-city"
                >Ukraine, Kyiv</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-social-menu">
        <div class="footer-social">
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a href="https://www.instagram.com/goitclub/  " target="_blank" class="footer-social-link"
                >Instagram</a
              >
            </li>
            <li class="team-soc-item">
              <a href="https://www.facebook.com/goITclub/ " target="_blank" class="footer-social-link">Facebook</a>
            </li>
            <li class="team-soc-item">
              <a href="https://www.youtube.com/c/GoIT" target="_blank" class="footer-social-link">Youtube</a>
            </li>
          </ul>
        </div>
        <div class="footer-menu">
          <ul class="footer-menu-list">
            <li class="footer-menu-item">
              <a href="#About" class="footer-menu-link">about us</a>
            </li>
            <li class="footer-menu-item">
              <a href="#courses" class="footer-menu-link">our courses</a>
            </li>
            <li class="footer-menu-item">
              <a href="#mentors" class="footer-menu-link">our mentors</a>
            </li>
            <li class="footer-menu-item">
              <a href="#Reviews" class="footer-menu-link">reviews</a>
            </li>
            <li class="footer-menu-item">
              <a href="#contacts" class="footer-menu-link">contacts</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-form-box">
        <form class="footer-form">
          <label class="footer-email-lable">
            <input
              type="email"
              name="footer-input"
              class="footer-input"
              placeholder="Enter your email"
              pattern="[a-z]+[a-z0-9._]+@gmail.com"
              aria-label="email input"
            />
          </label>
          <div class="footer-button-form">
            <button type="submit" class="footer-btn">GO</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-finish">
      <ul class="footer-finish-list">
        <li class="footer-finish-item">
          <a href="" target="_blank" class="footer-finish-link"
            >Privacy Policy <br />
            Public Offering Agreement</a
          >
        </li>
      </ul>
      <p class="footer-finish-text">
        2023 Focus Frame <br />
        © All rights reserved
      </p>
    </div>
  </div>
</footer>
