<div class="collaboration">
  <header class="header">
        <div class=" container header-container">
      <div class="header-icon">
        <svg width="127" height="20" class="header-icon-first">
          <use href="./image/icons.svg#icon-logo"></use>
        </svg>

        <!--NAV-->
        
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link" href="#about">About us</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#courses">Our courses</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#mentors">Our mentors</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#reviews">Reviews</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#contacts">contacts</a>
          </li>
        </ul>

        <!--CAMERA ICON-->

        <a class="header-icon-camera" href="#sign_up-cam"

          ><svg width="16" height="16" class="header-icon-second">
            <use href="./image/icons.svg#icon-camera"></use></svg>
          </a>
        <button type="button" 
        class="header-icon-btn menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        data-modal-open>
          <svg width="32" height="22" class="header-icon-third">
            <use href="./image/icons.svg#icon-Nav"></use>
          </svg>
        </button>
      </div>
      
      <div class="header-tablet-btn">

        <a href="#sign_up-but"
         class="tablet-btn">Sign up</a>

      </div>
    </div>
  </header>
</div>


 <!-- Mobile-menu window -->
 <div class="backdrop is-hidden" data-modal>
      <div class="menu-container js-menu-container">
        <button class="menu-close js-close-menu" data-modal-close>
          <svg class="menu-close-svg" width="32" height="32">
            <use href="./image/icons.svg#icon-x-close"></use>
          </svg>
        </button>

        <ul class="header-mob-list">
          <li class="header-mob-item">
            <a class="header-mob-link current" href="#about">About us</a>
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="#courses">Our courses</a>
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="#mentors">Our mentors</a>
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="#reviews">Reviews</a>
          </li>
          <li class="header-mob-item">
            <a class="header-mob-link" href="#contacts">contacts</a>
          </li>
        </ul>

        <picture>
           <source
            media="(min-width: 768px)"
            srcset="
              ./image/header/rectangle-6-tab-1x.jpg  1x,
              ./image/header/rectangle-6-tab-2x.jpg  2x
            "
          />
          <source
            media="(max-width: 767.98px)"
            srcset="
              ./image/header/rectangle-6-1x.jpg  1x,
              ./image/header/rectangle-6-2x.jpg 2x
            "
          />
          <img
            src="./image/header/rectangle-6-1x.jpg"
            alt="Professional photocamera"
            class="mob-img"
            
          />
        </picture>
        
      </div>
      </div>
    
