<header class="header">
    <div class="container header-container">
        <div class="header-icon">
            <svg width="127" height="20" class="header-icon-first">
                <use href="./image/icons.svg#icon-logo"></use>
            </svg>

<!--NAV-->
            <ul class="header-nav-list">
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#About">About us</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#courses">Our courses</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#mentors">Our mentors</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#Reviews">Reviews</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#contacts">contacts</a>
                </li>
            </ul>
<!--CAMERA ICON-->
            <a class="header-icon-camera" href="#Sign"><svg width="16" height="16" class="header-icon-second">
                    <use href="./image/icons.svg#icon-camera"></use>
                </svg></a>
<!--BTN LINES-->
            <button type="button" class="header-icon-btn">
                <svg width="32" height="22" class="header-icon-third">
                    <use href="./image/icons.svg#icon-Nav"></use>
                </svg>
            </button>
        </div>
<!--BTN TABLET-->
        <div class="header-tablet-btn">
            <button type="button" class="tablet-btn">Sign up</button>
        </div>

    </div>
 </header>
