<section class="hero" id="hero">
  <div class="container">
    <div class="hero-section-container">
      <div class="two-pictures">
        <div class="text-wrap">
          <h1 class="hero-title">
            Discover the magic of
            <span> photography </span> in our school
          </h1>
          <p class="hero-text">
            Our photography school offers an unforgettable journey, where you
            can learn the basics of composition, master technical skills,
            translate your unique ideas.
          </p>
        </div>

        <div class="star-icon">
          <div class="photos">
            <div class="icon">
              <picture>
                <source
                  media="(min-width:768px)"
                  srcset="/image/hero/women.png 1x, /image/hero/women-2x.png 2x"
                />
                <source
                  media="(max-width:767.8px)"
                  srcset="
                    /image/hero/women-mob.png    1x,
                    /image/hero/women-mob-2x.png 2x
                  "
                />
                <img
                  class="icon-girl1"
                  src="/image/hero/women-mob.png"
                  alt="girl"
                  width="44"
                  height="44"
                />
              </picture>
              <picture>
                <source
                  media="(min-width:768px)"
                  srcset="/image/hero/boy.png 1x, /image/hero/boy-2x.png 2x"
                />
                <source
                  media="(max-width:767.98px)"
                  srcset="
                    /image/hero/boy-mob.png    1x,
                    /image/hero/boy-mob-2x.png 2x
                  "
                />
                <img
                  class="icon-boy1"
                  src="/image/hero/boy-mob.png"
                  alt="girl"
                  width="44"
                  height="44"
                />
              </picture>
              <picture>
                <source
                  media="(min-width:768px)"
                  srcset="/image/hero/girl.png 1x, /image/hero/girl-2x.png 2x"
                />
                <source
                  media="(max-width:767.98px)"
                  srcset="
                    /image/hero/girl-mob.png    1x,
                    /image/hero/girl-mob-2x.png 2x
                  "
                />
                <img
                  class="icon-girl2"
                  src="/image/hero/girl-mob.png"
                  alt="girl"
                  width="44"
                  height="44"
                />
              </picture>
            </div>
          </div>

          <a href="" class="hero-text-icon">
            Our happy students

            <svg class="hero-arrow" width="18" height="18">
              <use href="./image/icons.svg#icon-Arrow-2"></use>
            </svg>
          </a>

          <div class="star">
            <div class="hero-icon-star">
              <svg class="hero-star" width="20" height="20">
                <use href="/image/icons.svg#icon-star"></use>
              </svg>
            </div>
            <div class="hero-text-p12">
              <p class="hero-text-star-p1">Reviews</p>
              <p class="hero-text-star-p2">+1500</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-img-desktop">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /image/hero/Rectangle-fullpc.webp    1x,
              /image/hero/Rectangle-fullpc-2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /image/hero/Rectangle-standartpc.webp    1x,
              /image/hero/Rectangle-standartpc-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /image/hero/Rectangle-tab.webp    1x,
              /image/hero/Rectangle-tab-2x.webp 2x
            "
          />
          <source
            media="(max-width: 767.98px)"
            srcset="
              /image/hero/Rectangle-mob.webp    1x,
              /image/hero/Rectangle-mob-2x.webp 2x
            "
          />
          <img
            src="/image/hero/Rectangle-mob.webp"
            alt="photographer"
            class="hero-img"
            width="259"
            height="314"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
