<section class="mentor">
    <div class="container">
    <div class="section-mentor-container">
        <h2 class="section-mentor-title">Our <span class="mentor-title">Mentors</span></h2>
   
    
    
    <ul class="mentor-list">
        <li class="mentor-card">
            
     <img class="foto" srcset="../image/mentors/img-dekstop-emilia-2x.jpg 2x" src="../image/mentors/img-dekstop-emilia-1x.jpg" alt="Emilia Smith" width="180" height="180" > 

            <div class="mentor-name-experience">
                <h3 class="mentor-name">Emilia Smith</h3>
                <h4 class="mentor-experience">1.5 years of experience</h4>
            </div>
        </li>
        <li class="mentor-card">

     <img class="foto" srcset="../image/mentors/img-dekstop1-alex-2x.jpg 2x" src="../image/mentors/img-dekstop-alex-1x.jpg" alt="Alex Lebedev" width="180" height="180" > 

            <div class="mentor-name-experience">
                <h3 class="mentor-name">Alex Lebedev</h3>
                <h4 class="mentor-experience">3.5 years of experience</h4>
            </div>
        </li>
        <li class="mentor-card">

     <img class="foto" srcset="../image/mentors/img-dekstop1-mia-2x.jpg 2x" src="../image/mentors/img-dekstop-mia-1x.jpg" alt="Mia Dubrovska" width="180" height="180" > 

            <div class="mentor-name-experience">
                <h3 class="mentor-name">Mia Dubrovska</h3>
                <h4 class="mentor-experience">2.0 years of experience</h4>
            </div>
        </li>
        <li class="mentor-card">

     <img class="foto" srcset="../image/mentors/img-dekstop1-eliot-2x.jpg 2x" src="../image/mentors/img-dekstop-eliot-1x.jpg" alt="Eliot Kovalev" width="180" height="180" > 

            <div class="mentor-name-experience">
                <h3 class="mentor-name">Eliot Kovalev</h3>
                <h4 class="mentor-experience">4.0 years of experience</h4>
            </div>
        </li>
    </ul>
    </div>
    </div>
    </div>
</section>