.about_us {
  --brown: #bea69e;
  --black: #121212;
  --light-black: #1d1d1d;
  --white: #ffffff;
  /* transition variables */
  --color-250ms: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-color-250ms: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-color-250ms: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--black, #121212);
}

.runline {
  overflow: hidden;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  background-color: var(--black, #121212);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.runline-inner {
  display: flex;
}

.runline-line {
  color: var(--brown, #bea69e);
  flex-shrink: 0;
  margin: 0;
  padding: 20px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.runline-line-span {
  color: var(--white, #ffffff);
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.about-us-container {
  background-color: var(--black, #121212);
  min-width: 100%;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-us-title {
  color: var(--white, #fff);

  font-size: 28px;

  font-weight: 500;
}
.about-us-title-span {
  color: var(--brown, #bea69e);
}
.about-us-picture {
}
.about-us-pic-and-par {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-us-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us-paragraph-1 {
  color: var(--white, #fff);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 335px;
}
.about-us-paragraph-2 {
  color: var(--white, #fff);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 335px;
}
@media screen and (min-width: 768px) {
  .runline {
    font-size: 40px;
    font-family: DM Sans;
  }
  .runline-line {
    padding: 24px;
  }
  .about-us-container {
    padding: 100px 12px;
    gap: 50px;
  }

  .about-us-title {
    font-size: 48px;
  }

  .about-us-picture {
    height: 335px;
  }
  .about-us-pic-and-par {
    gap: 50px;
  }
  .about-us-paragraphs {
    flex-direction: row;
    gap: 40px;
  }
  .about-us-paragraph-1 {
    width: 280px;
    font-size: 16px;
  }
  .about-us-paragraph-2 {
    width: 280px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .runline {
    font-size: 59px;
  }

  .about-us-container {
    padding: 150px 80px;
  }

  .about-us-picture {
  }

  .about-us-pic-and-par {
    flex-direction: row;
    gap: 40px;
  }
  .about-us-paragraphs {
    gap: 20px;
  }
  .about-us-paragraph-1 {
    width: 268px;
  }
  .about-us-paragraph-2 {
    width: 264px;
  }
}
@media screen and (min-width: 1440px) {
  .about-us-picture {
  }

  .about-us-pic-and-par {
    gap: 50px;
  }
  .about-us-paragraphs {
    gap: 40px;
  }
  .about-us-paragraph-1 {
    width: 314px;
  }
  .about-us-paragraph-2 {
    width: 276px;
  }
}
