.collaboration {
    background-image: url(../image/header/graphic-mob.png);
    background-color: #121212;
    background-size: cover;
}
@media screen and (min-width: 375px) {
    .collaboration {
        background-image: url(../image/header/graphic-mob.png);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 375px),
screen and (min-resolution: 192dpi) and (min-width: 375px),
screen and (min-resolution: 2dppx) and (min-width: 375px) {
    .collaboration {
        background-image: url(../image/header/graphic-mob@2x.png)
    }
}

@media screen and (min-width: 768px) {
    .collaboration {
        background-image: url(../image/header/graphic-tab.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .collaboration {
        background-image: url(../image/header/graphic-tab@2x.png)
    }
}

@media screen and (min-width: 1280px) {
    .collaboration {
        background-image: url(../image/header/graphic-decs.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .collaboration {
        background-image: url(../image/header/graphic-decs@2x.png)
    }
}

@media screen and (min-width: 1440px) {
    .collaboration {
        background-image: url(../image/header/graphic-max.png);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    .collaboration {
        background-image: url(../image/header/graphic-max@2x.png)
    }
}

.header {
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .header {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        width: 1280px;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        width: 1440px;
    }
}

.container {
width: 100%;
margin: 0 auto;

}

@media screen and (min-width: 375px){
    .container {
        width: 375px;
    }
}


@media screen and (min-width: 768px){
    .container {
        width: 768px;
        padding: 0 32px;
    }
}



@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding: 0 100px;
    }
}



@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}

.header-container {
  

}
@media screen and (min-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width: 1280px) {
    .header-container {
        padding-bottom: 80px;
    }
}

.header-icon {
height: 50px;
display: flex;
text-align: center;
align-items: center;
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.20);
box-sizing: border-box;
background-color: var(--black, #121212);;

padding: 15px 20px;
}
@media screen and (min-width: 768px) {
    .header-icon {
        margin-right: 14px;
        width: 504px;
        height: 60px;
    }
}
@media screen and (min-width: 1280px) {
    .header-icon {
        margin-right: 20px;
        width: 822px;

        padding: 21px 50px;
    }
}
@media screen and (min-width: 1440px) {
    .header-icon {
        width: 982px;
    }
}

.header-icon-first {
    fill: #FFFFFF;
    padding-right: 90px;
}
@media screen and (min-width: 768px) {
    .header-icon-first {
        padding-right: 301px;
    }
}
@media screen and (min-width: 1280px) {
    .header-icon-first {
        padding-right: 97px;
    }
}
@media screen and (min-width: 1440px) {
    .header-icon-first {
        padding-right: 209px;
    }
}

/* NAV */
.header-nav-list {
display: none;
}
@media screen and (min-width: 1280px) {
    .header-nav-list {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        align-items: center;
        gap: 28px;
        white-space: nowrap;
    }
}
@media screen and (min-width: 1440px) {
    .header-nav-list {
        gap: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .header-nav-link {
        color: #FFF;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: #BEA69E;
}

.header-icon-camera {
    background-color: #1D1D1D;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;

}

@media screen and (min-width: 768px) {
    .header-icon-camera {
        display: none;
    }
}

.header-icon-second {
    fill: #BEA69E66;
}

.header-icon-second:hover,
.header-icon-second:focus {
    fill: #BEA69E;
}

.header-icon-btn {
    border: none;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 22px;
    background-color: transparent;
    box-sizing: border-box;
}
.header-icon-third {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}
@media screen and (min-width: 1280px) {
    .header-icon-btn {
        display: none;
    }
}
.header-tablet-btn {
    display: none;
}
@media screen and (min-width: 768px) {
    .header-tablet-btn {
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: #FFF;
        width: 186px;
        height: 60px;
    }
}
@media screen and (min-width: 1280px) {
    .header-tablet-btn {
        max-width: 238px;
    }
}

@media screen and (min-width: 768px) {
    .tablet-btn {
        background-color: transparent;
        color: #121212;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        border: none;

        text-align: center;
        width: 186px;
        height: 60px;
    }
}

@media screen and (min-width: 768px) {
    .tablet-btn:hover,
    .tablet-btn:focus {
        background-color: #1D1D1D;
        color: #BEA69E;
        border-radius: 12px;
    }
}
