.our_courses{


}
.ourcourses-section {
    display: flex;
    width: 1240px;
    height: 452px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}


.ourcourses-title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px; /* 112.5% */
    letter-spacing: -1.92px;
}

.ourcourses-title-span {
    color: #BEA69E;
}

.ourcourses-title-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: -0.32px;
}
.ourcourses-list {

}
.ourcourses-item {

}


.ourcourses-rectangle {
    width: 335px;
    height: 398px;
    flex-shrink: 0;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
}

.rectangle-icon {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 233px;
    fill: #1D1D1D;
}
.ourcourses-subtitle {

}
.ourcourses-text {

    
}