.reviews-section {
    color: var(--white);
    box-sizing: border-box;
 
}

div {
    box-sizing: border-box;
}

.reviews-container {
    width: 100%;
    padding-top:80px ;
    padding-bottom: 80px;
}

.reviews-header {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
}

.reviews-box {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.display {
    display: none;
}

.reviews-name-stars-container {
    margin-bottom: 20px;
}

.reviews-name-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.reviews-photo {
    width: 56px;
    height: 56px;
}

.reviews-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.reviews-position {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

.reviews-icon-list {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    margin-left: 66px;
}

.reviews-icon-list-item {
    margin: 0;
}

.reviews-icon {
    fill: var(--brown);
    width: 16px;
    height: 16px;
}

.empty-star {
    fill: #414141;
}

.reviews-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.reviews-name-stars-box {}

.reviews-name-container {}

@media screen and (min-width: 375px) {
    .reviews-section {
        padding: 0;
    }

    .reviews-container {
        max-width: 335px;
        margin: 0 auto;
        padding:80px 0;
        
    }
}

@media screen and (min-width: 768px) {
    .reviews-container {
        max-width: 704px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .reviews-box {
        box-sizing: border-box;
        max-width: 640px;
        margin: 0 auto;
    }

    .reviews-name-stars-container {
        display: flex;
    }

    .reviews-header {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12;
        letter-spacing: -0.04em;
    }

    .reviews-name {
        line-height: 1.4;
    }

    .reviews-icon-list {
        margin-left: auto;
    }

    .reviews-icon {
        width: 20px;
        height: 20px;
    }

    .reviews-text {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-container {
        max-width: 1080px;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .reviews-box-wrapper {
        display: flex;
        gap: 40px;
    }

    .reviews-box {
        flex-basis: calc((100% - 40px)/2);
    }

    .display {
        display: block;
    }

    .reviews-text {
        width: auto;
    }
}

@media screen and (min-width: 1440px) {
    .reviews-container {
        padding-top:150px;
        padding-bottom: 150px;
        max-width: 1240px;
    }

    .reviews-box-wrapper {
        gap: 20px;
    }

    .reviews-box {
        flex-basis: calc((100% - 20px)/ 2);
    }
}